@using Common.Models
@using Common.Enums
@model List<Invoice>

@{
	ViewData["Title"] = "Fakturaoversigt";
}



<div class="container mt-5 mb-5 w-75">
	<h1>@ViewData["Title"]</h1>

	<table class="table table-hover mt-5">
		<thead>
			<tr>
				<th>Startdato</th>
				<th>Slutdato</th>
				<th>Beløb</th>
				<th>Forbrug</th>
				<th>Betalt</th>
				<th>Betalingsmodel</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var invoice in Model)
			{
				<tr style="cursor: pointer;" onclick="window.location='@Url.Action("Details", "Invoice", new { id = invoice.Id })'">
					<td>@invoice.BillingPeriodStart.ToShortDateString()</td>
					<td>@invoice.BillingPeriodEnd.ToShortDateString()</td>
					<td>kr @invoice.TotalAmount.ToString("N2")</td>
					<td>@invoice.TotalConsumption.ToString("N2") kWh</td>
					<td>@(invoice.Paid ? "Ja" : "Nej")</td>
					<td>@(invoice.BillingModel?.BillingModelType == BillingModelType.FixedPrice ? "Fast pris" : "Variabel pris")</td>
					<td>
						<div class="d-flex justify-content-end">
							<a href="@Url.Action("Payment", "Invoice", new { id = invoice.Id })" class="btn btn-sm btn-success me-2">Betal</a>
							<form asp-controller="Invoice" asp-action="Download" method="post" class="me-2">
								<input type="hidden" name="id" value="@invoice.Id" />
								<button type="submit" class="btn btn-primary btn-sm">
									Download
								</button>
							</form>
							<a href="@Url.Action("Details", "Invoice", new { id = invoice.Id })" class="btn btn-sm btn-outline-primary">Vis</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>